body{
    font-family: Arial, Helvetica, sans-serif;   
}

input{
    background-color: transparent;
    border: none;
    padding: 7px;
    border-bottom: 2px solid rgb(79, 42, 88);
    outline: 0;
}
input:focus{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgb(147, 31, 177);
}
button{
    background-color: rgb(147, 31, 177);
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    padding: 7px;
    margin-left: 10px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(164, 23, 199);
}
button:active{
    background-color: rgb(175, 20, 214);
}

div{
    text-align: center;
    margin-top : 70px;
    padding: 8px 19px;
    margin-left: 350px;
    margin-right: 350px;
    border-radius: 10px;
}