@import url("../CSS/StyleNav&Fot.css");

.navbar .Contact{
    background-color: #202020;
    outline: 5px solid #202020;
    color: white;
}

body{
    background-image: url('../Assets/backgroud.jpg');
    background-size: cover;
    background-repeat: no-repeat
}

main .contatos div{
    display: flex;
    flex-wrap: wrap;
    margin-top: 11.5%;
    padding-left: 34%;
    padding-right: 34%;
    justify-content: space-evenly;
}

main .contatos div a:hover{
    transform: scale(1.2);
}